/* CSS Document */
body{
background-color: #FFFFCC;
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1{
text-align: center;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightcyan;
    height: 100px;
}

.nav a{
color: black;
text-decoration: none;
}

p{
margin-left: 350px;
margin-right: 350px;
}

td{
text-align: center;
}

.login{
    border: 1px solid #000000;
    border-radius: 50px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 5rem;
}

.register{
border: 1px solid #000000;
border-radius: 50px;
width: 250px;
height: auto;
margin-top: 200px;
margin-left: 600px;
}

label{
margin-left: 15px;
}

.frontPageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.frontPageImg {
    border-radius: 20px;
    margin-top: 2rem;
}

.inputFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}

.username {
    text-align: center;
    margin-bottom: 2rem;
}

.password {
    text-align: center;
    margin-bottom: 2rem;
}

.buttons {
    text-align: center;
    margin-bottom: 2rem;
}

.username > input {
    float: right;
}

.password > input {
    float: right;
}

.centerBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeLink {
    text-align: center;
    width: 25%;
    background-color: lightcyan;
    padding: 40px;
    margin: 0;
    font-size: 1.5em;
    text-decoration: none;
}

.homeLink:hover {
    background-color: lightblue;
}

.heading {
    margin-bottom: 2rem;
}

.address {
    text-align: center;
}